.form-container {
width: 600px;
margin: 20px auto;
padding: 20px;
background-color: #f5f5f5;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.form-field {
margin: 15px;
}

.form-field label {
display: block;
font-weight: bold;
margin-bottom: 5px;
}

.form-field input {
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}

.form-submit-btn {
width: 100%;
padding: 10px;
margin-top: 10px;
background-color: #4caf50;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

.form-submit-btn:hover {
background-color: #45a049;
}

.chat-container {
width: 600px;
height: 400px;
overflow-y: auto;
border: 1px solid #ccc;
border-radius: 5px;
}

.message {
padding: 10px;
margin: 10px;
border-bottom: 1px solid #ccc;
background-color: rgb(133, 159, 189);
}

.disconnectMessage {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
    background-color: rgb(192, 37, 17);
}

.connectMessage {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
    background-color: rgb(38, 173, 90);
}